*.csv
*.mat
*.txt

backup/yelp_training_set/*.csv
backup/yelp_test_set/*.csv
backup/data/*.csv
backup/*.csv
yelp_test_set/*.csv
yelp_training_set/*.csv
linreg/*.csv
linreg/*.mat


*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject